      <link href="assets/bootstrap.css" rel="stylesheet">
      <link href="assets/style.css" rel="stylesheet">
      <link href="assets/css/font-awesome.min.css" rel="stylesheet">
      <link href="assets/owl-carousel/owl.carousel.css" rel="stylesheet">
      <link href="assets/owl-carousel/owl.theme.css" rel="stylesheet">
      <link href="assets/rs-plugin/css/settings.css" rel="stylesheet" />
      <link href="assets/animate.css" rel="stylesheet" />
      <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,800,700italic,800italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,700italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800' rel='stylesheet' type='text/css'>

<body >
<div class="body">

<!-- HEADER
============================================= -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top top-nav " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <img src="http://res.cloudinary.com/dz83jh064/image/upload/c_scale,h_50/v1520933613/AntoineStaumont_j4jfly.jpg" style="border-radius: 50px;" alt=""/>

      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#services">Profil</a></li>
          <li><a href="#team">Compétences</a></li>
          <li><a href="#formation">Formations</a></li>
          <li><a href="#portfolio">Travaux</a></li>
          <li><a href="#hobby">Hobbiess</a></li>
          <li><a href="#blog">Actualité</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
<!-- HEADER
============================================= -->


<!-- SLIDER
============================================= -->
<div class="intro-header">
  <div class="row">
    <div class="col-md-12">
      <!-- Slider -->
      <div class="fullwidthbanner-container" >
        <div class="fullwidthbanner">
          <ul>
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
              <img src="assets/bg.png" alt="slide" data-fullwidthcentering="true">
              <div class="tp-caption large_black sfr" data-x="550" data-y="60" data-speed="1500" data-start="600" data-easing="easeInOutBack">
                <img src="assets/desk.png" alt="slide" >
              </div>
              <div class="tp-caption large_black lfl carousel-caption-inner" data-x="30" data-y="35" data-speed="500" data-start="800" data-easing="easeInOutQuad">
                <h6>Ma reconversion</h6>
              </div>
              <div class="tp-caption large_black lfl carousel-caption-inner" data-x="30" data-y="122" data-speed="500" data-start="1100" data-easing="easeInOutQuad">
                <h6>au centre de </h6>
              </div>
              <div class="tp-caption large_black lfl carousel-caption-inner" data-x="30" data-y="210" data-speed="500" data-start="1400" data-easing="easeInOutQuad">
                <h6>mes projets.</h6>
              </div>
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
              <img src="assets/bg.png" alt="slide" data-fullwidthcentering="true">
              <div class="tp-caption large_black sfr" data-x="550" data-y="60" data-speed="1500" data-start="600" data-easing="easeInOutBack">
                <img src="assets/imac.png" alt="slide" >
              </div>
              <div class="tp-caption large_black lfl carousel-caption-inner" data-x="30" data-y="35" data-speed="500" data-start="800" data-easing="easeInOutQuad">
                <h6>Une expérience</h6>
              </div>
              <div class="tp-caption large_black lfl carousel-caption-inner" data-x="30" data-y="122" data-speed="500" data-start="1100" data-easing="easeInOutQuad">
                <h6>de 15 ans dans le</h6>
              </div>
              <div class="tp-caption large_black lfl carousel-caption-inner" data-x="30" data-y="210" data-speed="500" data-start="1400" data-easing="easeInOutQuad">
                <h6>domaine de la santé.</h6>
              </div>
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
              <img src="assets/bg.png" alt="slide" data-fullwidthcentering="true">
              <div class="tp-caption large_black sfr" data-x="550" data-y="60" data-speed="1500" data-start="600" data-easing="easeInOutBack">
                <img src="assets/ipad.png" alt="slide" >
              </div>
              <div class="tp-caption large_black lfl carousel-caption-inner" data-x="30" data-y="35" data-speed="500" data-start="800" data-easing="easeInOutQuad">
                <h6>Une nouvelle vie: </h6>
              </div>
              <div class="tp-caption large_black lfl carousel-caption-inner" data-x="30" data-y="122" data-speed="500" data-start="1100" data-easing="easeInOutQuad">
                <h6>le developpement</h6>
              </div>
              <div class="tp-caption large_black lfl carousel-caption-inner" data-x="30" data-y="210" data-speed="500" data-start="1400" data-easing="easeInOutQuad">
                <h6>WEB.</h6>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Slider -->
    </div>
  </div>
</div>
<!-- SLIDER
============================================= -->

<!-- SERVICES
============================================= -->

  <div class="container">
    <div id="services">
    <div class="row">
      <div class="col-md-4 services-content sc1">
        <div class="col-md-3">
          <div class="staff-content staff-content1">
            <div class="staff-img">
              <img src="http://res.cloudinary.com/dz83jh064/image/upload/a_auto_right,c_scale,w_210/v1521554908/kzlxgyptb5shwwezciq2.jpg"  style="border-radius: 10px;" alt=""/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 services-content sc2">

        <h4>Antoine STAUMONT</h4>
        <p>277 avenue Jean Garaialde</p>
        <p>62152 HARDELOT</p>
      </div>
      <div class="col-md-4 services-content sc3">

        <h4>Me joindre</h4>
        <p>Tél: 06.60.95.47.02</p>
        <p>Mail: staumont.antoine@me.com</p>
      </div>
      <div class="col-md-7 services-content sc3">

        <h4>Mon histoire</h4>
        <p>Il y a des étapes dans une vie professionnelle, des changements qu’il faut savoir percevoir et dans lesquels il faut, je le crois, oser s’investir. Au départ, mon parcours est « classique ». Docteur en chirurgie-dentaire, j’ai exercé pendant 5 ans en collaboration, puis 10 ans au sein du cabinet libéral que j’ai moi-même créé et qui s’est extrêmement bien développé. J’ai toujours donné le meilleur de moi- même et cherché à offrir à mes patients les services les plus innovants, tout en étant à l’écoute de leurs besoins et des situations particulières de chacun. En parallèle et depuis toujours, je suis féru d’informatique, qualités que j’ai mises à profit et cultivée dès le plus jeune âge. Je me souviens du montage de L’Apple II que mon père avait commandé en kit, une sacrée aventure. Ensuite est venu le goût de la programmation de base, à essayer de réaliser des outils utiles. Autodidacte, j’avais 10 ans quand je travaillais sur le GFA Basic sur mon ATARI 520 STF. Aujourd’hui, tout est différent, et j’ai suivi cette évolution avec passion. Nous savons que nous vivons dans un monde où règne l’obsolescence programmée, mais ceci n’est pas négatif, c’est même un atout si l’on fait preuve d’adaptabilité.  Ma reconversion est aujourd’hui possible grâce à des bases solides avec la formation pointue dispensée au WAGON. Je suis complètement autonome dans l’élaboration de sites dynamiques (Ruby, Ruby on rails, Javascript, HTML et CSS etc...). En conclusion, le champ des possibles est extrêmement fertile et nous réserve encore beaucoup d’avancées : à nous de faire des choix pertinents ! En cela, l'union de mes compétences est un atout indéniable. Voici en outre les compétences personnelles que je pense pouvoir mettre en action à vos côtés : ma détermination, ma créativité, mon intuition, ma curiosité, ma rigueur et mon application/implication. Je suis de nature sociable et empathique, tout en restant pragmatique.</br>
          Pour voir mon CV , c est <a href="http://res.cloudinary.com/dz83jh064/image/upload/v1523306182/cv_STAUMONT_Antoine_good_jpohpe.pdf" target="_blank">ICI</a>  !
         </p>
      </div>
    </div>
  </div>
</div>
  <!-- /.container -->


<!-- TEAM CONTENT
============================================= -->
<div class="team-wrap" id="team">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h3>Mes compétences</h3>
        <p>"L'apprentissage est le père de la compétence." </br>
        Simon de Bignicourt (1755)</p>
      </div>
      <div class="space90"></div>
      <div class="col-md-12 no-padding">
        <div class="col-md-3">
          <div class="staff-content staff-content1" style="min-height: 450px;">
            <div class="staff-img">
              <img src="https://www.spiria.com/sites/default/files/blog/ruby_on_rails_logo.png" class="img-responsive" alt=""/>
            </div>
            <h5>Ruby on rails</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="staff-content staff-content2" style="min-height: 450px;">
            <div class="staff-img">
              <img src="https://www.yvonh.com/wp-content/uploads/2017/10/HTML5_CSS_JavaScript.png" class="img-responsive" alt=""/>
            </div>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
            <h5>HTML CSS JavaScript</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="staff-content staff-content3" style="min-height: 450px;">
            <div class="staff-img">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png" class="img-responsive" alt=""/>
            </div>
            </br>
            </br>
            </br>
            <h5>GitHub</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="staff-content staff-content4" style="min-height: 450px;">
            <div class="staff-img">
              <img src="http://www.gocit.vn/wp-content/uploads/2017/04/postgresql.jpg" class="img-responsive" alt=""/>
            </div>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            <h5>PostgreSQL</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TEAM CONTENT
============================================= -->



<!-- INFO CONTENT
============================================= -->
<div class="info-wrap" id="formation">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding info-content">
        <div class="col-md-6">
          <img src="http://www.chru-lille.fr/media/delegation_communication/galerie/caumartin2.jpg" class="img-responsive s1" alt=""/>
        </div>
        <div class="col-md-6">
          <h4>Un doctorat en chirurgie dentaire.</h4>
          <p>La chirurgie dentaire était évidente à mes yeux quand j'avais 18 ans, mon père étant lui même de cette profession . Depuis tout petit j'ai connu cette odeur de clou de girofle bien caractéristique du cabinet dentaire . Pour autant ma passion pour le tech', le numérique me suivra pendant ces quinze années de pratique dans mon propre cabinet à Samer (62). En effet je réaliserai mes propres couronnes céramiques en CFAO avec empreinte optique .</p>
          <div class="space40"></div>

        </div>
      </div>
      <div class="space100"></div>
      <div class="clear"></div>
      <div class="space100"></div>
      <div class="col-md-12 no-padding info-content">
        <div class="col-md-6">
          <h4>Une nouvelle aventure dans le développement WEB.</h4>
          <p>Ma passion prend le dessus , convaincu par la nécessité de l'outil informatique dans le domaine de la santé . Je décide de faire LeWagon Lille fin 2017 afin de devenir développeur Web . Quelle aventure ! Après 9 semaines intenses, je suis persuadé avoir fait le bon choix, je m'épanouirai dans cette nouvelle aventure ! Je suis libre de suite à tout poste de développeur web junior !</p>
          <div class="space40"></div>
        </div>
        <div class="col-md-6">
          <img src="http://i.f1g.fr/media/eidos/805x453_crop/2017/06/05/XVM80e87590-4a8a-11e7-9fe8-035f9d604401.jpg" class="img-responsive pull-right s2" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- INFO CONTENT
============================================= -->


<!-- SERVICES
============================================= -->

<!-- PROJECTS
============================================= -->
<div class="portfolio-wrap" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h3>Mes travaux</h3>
        <p>De nature polyvalente, je m'adapte facilement aux différents challenges qui viennent à moi.</p>
      </div>
      <div class="col-md-12 no-padding portfolio-main">
        <div class="space90"></div>
        <ul id="filters" class="clearfix">
          <li><span class="filter active" data-filter="sort1 sort2 sort3 sort4">Tous</span></li>
          <li><span class="filter" data-filter="sort1">Tribes</span></li>
          <li><span class="filter" data-filter="sort2">Steryz</span></li>
          <li><span class="filter" data-filter="sort3">Handident</span></li>
        </ul>
        <div id="portfoliolist">
          <div class="portfolio sort1" data-cat="sort1">
            <div class="portfolio-wrapper">
              <img src="http://res.cloudinary.com/dz83jh064/image/upload/q_52/v1522933695/Capture_d_écran_2018-04-05_à_15.07.19_ihwe7r.png" alt="" />
              <div class="overlay1">
                <a href="http://www.tribes.rocks" target="_blank">
                  <div class="overlay-text"><i class="fa fa-picture-o"></i> <span>Voir le site Tribes</span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="portfolio sort2" data-cat="sort2">
            <div class="portfolio-wrapper">
              <img src="http://res.cloudinary.com/dz83jh064/image/upload/q_52/v1522933694/Capture_d_écran_2018-04-05_à_15.06.49_haidh9.png" alt="" />
              <div class="overlay1">
                <a href="http://steryz.herokuapp.com" target="_blank">
                  <div class="overlay-text"><i class="fa fa-picture-o"></i> <span>Voir le site Steryz</span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="portfolio sort3" data-cat="sort3">
            <div class="portfolio-wrapper">
              <img src="http://res.cloudinary.com/dz83jh064/image/upload/q_52/v1522933886/Capture_d_écran_2018-04-05_à_15.10.42_cxqtxu.png" alt="" />
              <div class="overlay1">
                <a href="http://handident.herokuapp.com" target="_blank">
                  <div class="overlay-text"><i class="fa fa-picture-o"></i> <span>Voir le site Handident</span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="portfolio sort4" data-cat="sort4">
            <div class="portfolio-wrapper">

              <div class="overlay1">

                  <div class="overlay-text"><i class="fa fa-picture-o"></i> <span>View Project</span></div>

              </div>
            </div>
          </div>
          <div class="portfolio sort1" data-cat="sort1">
            <div class="portfolio-wrapper">
              <img src="http://res.cloudinary.com/dz83jh064/image/upload/v1522934669/Capture_d_écran_2018-04-05_à_15.23.59_ifpw1i.png" alt="" />
              <div class="overlay1">
                <a href="pages/video">
                  <div class="overlay-text"><i class="fa fa-play"></i> <span>Voir la vidéo du pitch</span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="portfolio sort2" data-cat="sort2">
            <div class="portfolio-wrapper">
              <img src="http://res.cloudinary.com/dz83jh064/image/upload/v1522934841/Capture_d_écran_2018-04-05_à_15.26.48_rmyawn.png" alt="" />
              <div class="overlay1">
                <a href="pages/tech1">
                  <div class="overlay-text"><i class="fa fa-cogs"></i> <span>A propos du projet Steryz</span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="portfolio sort3" data-cat="sort3">
            <div class="portfolio-wrapper">
              <img src="http://res.cloudinary.com/dz83jh064/image/upload/v1522935282/Capture_d_écran_2018-04-05_à_15.34.16_usl6tb.png" alt="" />
              <div class="overlay1">
                <a href="pages/tech2">
                  <div class="overlay-text"><i class="fa fa-cogs"></i> <span>A propos du site Handident</span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="portfolio sort4" data-cat="sort4">
            <div class="portfolio-wrapper">
              <div class="overlay1">
                <div class="overlay-text"><i class="fa fa-picture-o"></i> <span>View Project</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- PROJECTS
============================================= -->

<!-- TESTIMONIALS
============================================= -->
<div class="testimonial-wrap">
  <div class="container">
    <div class="row tw">
      <div id="owl-demo" class="owl-carousel">
        <div class="item">
          <div class="quote">

            <p>"Je ne connais personne qui ne soit pas heureux de faire du beau travail." (François Michelin)</p>
          </div>
        </div>
        <div class="item">
          <div class="quote">

            <p>"La suprême récompense du travail n’est pas ce qu’il vous permet de gagner, mais ce qu’il vous permet de devenir." (John Ruskin)</p>
          </div>
        </div>
        <div class="item">
          <div class="quote">

            <p>"Choisissez un travail que vous aimez et vous n’aurez pas à travailler un seul jour de votre vie."  (Confucius)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TESTIMONIALS
============================================= -->
<!-- TEAM CONTENT
============================================= -->
<div class="team-wrap" id="hobby">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h3>Mes autres passions</h3>
        <p>Je n'oublie pas ces moments importants dans lesquels je me ressource et trouve mon inspiration.</p>
      </div>
      <div class="space90"></div>
      <div class="col-md-12 no-padding">
        <div class="col-md-3">
          <div class="staff-content staff-content1">
            <div class="staff-img">
              <img src="https://images.unsplash.com/photo-1504370164829-8c6ef0c41d06?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3666ab4829c22f94c3b073d5390c8149&auto=format&fit=crop&w=1234&q=80" class="img-responsive" alt=""/>
            </div>
            <h5>Univers Geek</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="staff-content staff-content2">
            <div class="staff-img">
              <img src="https://images.unsplash.com/photo-1514926239779-5d5019ec302b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ddd03d8080483c00723e6f16ef9d20ff&auto=format&fit=crop&w=1234&q=80" class="img-responsive" alt=""/>
            </div>
            <h5>Les voyages</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="staff-content staff-content3">
            <div class="staff-img">
              <img src="https://images.unsplash.com/photo-1472739841375-d0ea9f0cb6a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a7f48efc018b6d583fd6dc737a1a8b2f&auto=format&fit=crop&w=1234&q=80" class="img-responsive" alt=""/>
            </div>
            <h5>Ma famille</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="staff-content staff-content4">
            <div class="staff-img">
              <img src="https://images.unsplash.com/photo-1485278537138-4e8911a13c02?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=886a0f91a96180b3a50193764570715f&auto=format&fit=crop&w=1234&q=80" class="img-responsive" alt=""/>
            </div>
            <h5>La musique</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TEAM CONTENT
============================================= -->




<!-- BLOG
============================================= -->
<div class="news-wrap" id="blog">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h3>Mon actualité</h3>
        <p>Une reconversion réussie rime souvent avec planning chargé.</p>
      </div>
      <div class="space90"></div>
      <div class="col-md-12 no-padding">
        <div class="col-md-6">
          <article class="post sc1">
            <img src="https://pbs.twimg.com/media/DHbxGF_W0AUAnmL.png" alt=""/>
            <div class="post-info">
              <div class="date">Décembre 2017</div>
              <h4><a ><%= link_to 'Demo-Day du wagon Batch#108', pages_blogdetail_path%></a></h4>
              <div class="line-sep1"></div>
              <p>Et bien voilà, cette belle aventure s'achève après neuf semaines bien remplies.</p>
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <article class="post sc3">
            <img src="http://ready.euratechnologies.com/wp-content/uploads/2014/04/euratechnologies-e1459494090902-1170x658.jpg" alt=""/>
            <div class="post-info">
              <div class="date">Janvier 2018</div>
              <h4><a><%= link_to "Passage à Euratech puis à Skema Lille", pages_blogdetail2_path%></a></h4>
              <div class="line-sep1"></div>
              <p>Le stress de mon premier pitch devant jury, quelle expérience ! Notre projet sera retenu à Skema Lille.</p>
            </div>
          </article>
        </div>
      </div>
      <div class="col-md-12 no-padding">
        <div class="col-md-6">
          <article class="post sc1">
            <img src="http://www.lequotidien.lu/wp-content/uploads/2016/03/02.06.2015_Editpress_022502.jpg" alt=""/>
            <div class="post-info">
              <div class="date">Mars 2018</div>
              <h4><a><%= link_to 'Présentation au Luxembourg ', pages_blogdetail3_path%></a></h4>
              <div class="line-sep1"></div>
              <p>Tribes de nouveau présenté au Luxembourg . </p>
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <article class="post sc3">
            <img src="http://journeesquebec.gouv.qc.ca/images/ui/journeeqc_logo.png" alt=""/>
            <div class="post-info">
              <div class="date">Mai 2018</div>
              <h4><a><%= link_to 'Journée phare !', pages_blogdetail4_path%></a></h4>
              <div class="line-sep1"></div>
              <p>Pouvoir vivre de ma passion dans un pays bienveillant, que demander de plus ...</p>
            </div>
          </article>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- BLOG
============================================= -->

<!-- CONTACT FORM
============================================= -->
<div class="contact-wrap" id="contact" name="contact">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h3>Contactez moi !</h3>
        <p>N'hésitez pas à me laisser un message si vous êtes intéressés par mon profil, si vous voulez me soutenir ou bien aller boire une bière ensemble !</p>
      </div>
      <div class="space90"></div>
      <div class="col-md-8 col-md-offset-2">
        <% @contact = Contact.new  %>
        <%= simple_form_for @contact do |f| %>
          <form id="form-bottom">
            <%= f.input :name, :required => true, name:"name", type:"text", placeholder:"Nom", label:false %>
            <%= f.input :email, :required => true, name:"email", type:"text", placeholder:"E-mail", label:false %>
            <%= f.input :message, :as => :text, :required => true, type:"text", name:"message", placeholder:"Message", label:false, input_html: { class:"c-form-1-email form-control", style:"min-height:150px" } %>
            <button type="submit" class="btn-lite submit">Envoyer</button>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</div>






<!-- CONTACT FORM
============================================= -->

<!-- CONTACT INFO
============================================= -->
<div class="contact-info">
  <div class="container">
    <div class="row ci1">

      <p>277 avenue Jean Garaialde<br>62152 Hardelot, France</p>
      <ul class="social">
        <li><a class="sl-fb" href="http://www.facebook.com/antoine.staumont" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a class="sl-tw" href="http://www.github.com/bossanov" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a class="sl-ln" href="http://www.linkedin.com/in/antoine-staumont-83133062" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- CONTACT INFO
============================================= -->

<!-- FOOTER
============================================= -->
<footer>
  <div class="container">
    <div class="row">
      <p>&copy; Réalisé en Ruby-on-Rails par Antoine STAUMONT 2018</p>
    </div>
  </div>
</footer>
<!-- FOOTER
============================================= -->

</div>

<!-- JavaScript Files -->
</body>
      <script src="assets/jquery.js"></script>
      <script src="assets/bootstrap.min.js"></script>
      <script src="assets/jquery.mixitup.min.js"></script>
      <script src="assets/owl-carousel/owl.carousel.js"></script>
      <script src="assets/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
      <script src="assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
      <script src="assets/rs-plugin/rs.home.js"></script>
      <script src="assets/jquery.localscroll-1.2.7-min.js"></script>
      <script src="assets/jquery.scrollTo.js"></script>
      <script src="assets/animations.js"></script>
      <script src="assets/jquery.flexslider.js"></script>
      <script src="assets/main.js"></script>

