<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
      <%= csrf_meta_tags %>
      <%= action_cable_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <link rel="icon" href="http://res.cloudinary.com/dz83jh064/image/upload/c_scale,h_30/v1523307911/Nature-Soleil-450534_w3ctjt.png" type="image/x-icon">
      <meta charset="utf-8">
      <meta name="keywords" content="HTML5 Template" />
      <meta name="description" content="Slander - Responsive HTML5 Landing Page">
      <meta name="author" content="dkpixels.com">
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Favicons -->
      <link rel="shortcut icon" href="img/favicon.ico">
      <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
      <!-- Google Webfonts -->

      <!-- CSS -->

  </head>
  <body>

    <%= yield %>


  </body>
</html>
